/* TaskPopup.css */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  height: 550px;
  max-width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.taskPopupForm {
  display: flex;
  flex-direction: column;
}

/* title group */
.title-group {
  margin-bottom: 20px;
}

.taskTitle {
  font-size: 14px;
  color: #333333;
  margin-bottom: 8px;
  display: block;
}

.taskTitle span {
  color: #ff0000;
}

.titleInput {
  width: 97%;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

/* priority group */
.priority-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.priority-label {
  font-size: 14px;
  color: #333333;
  margin: 8px;
  display: block;
}

.priority-label span {
  color: #ff0000;
}

.priority-options {
  display: flex;
  justify-content: space-between;
}

.priority-button {
  flex: 1;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  font-size: 12px;
  margin-right: 10px;
  text-align: center;
}

.priority-button.selected {
  background-color: #dddddd;
  color: #333333;
}

/* checklist items */
.checkListContainer {
  overflow-y: auto;
  max-height: 200px;
}

.checklist-label {
  margin-bottom: 10px;
}

.checkListItems {
  display: flex;
  align-items: center;
  margin-top: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

.checklistCheckbox {
  width: 18px;
  height: 18px;
}
.checklistInput {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  outline: none;
}

.deleteButton {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  color: #ff0000;
  font-size: 16px;
}

.add-new-button {
  display: flex;
  margin: 10px;
  padding: 5px 10px;
  font-size: 14px;
  color: #767575;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-new-button:hover {
  border: 1px solid gray;
}

/* Date picker */
.footer-group {
  display: flex;
  position: absolute;
  bottom: 20px;
}

.due-date-picker {
  width: 150px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid gray;
  text-align: center;
  cursor: pointer;
}

.due-date-picker:hover {
  border: none;
  color: black;
  background-color: lightcyan;
}

/* cancel and save button */
.form-actions {
  margin-left: 100px;
}

/* Cancel button */
.cancel-button {
  width: 162.58px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid red;
  color: red;
  background-color: white;
  cursor: pointer;
}

.cancel-button:hover {
  border: none;
  color: white;
  background-color: red;
}

/* Save button */
.save-button {
  width: 162.58px;
  height: 40px;
  border-radius: 12px;
  background-color: #17a2b8;
  color: white;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.save-button:hover {
  border: 1px solid #17a2b8;
  color: #17a2b8;
  background-color: white;
}
