/* Existing styles */
.containerHeading {
  margin-bottom: 40px;
}

.containerName {
  font-size: 24px;
  font-weight: bold;
}

.icons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.icons > * {
  margin-left: 10px;
  cursor: pointer;
}
